<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApplication- Ralitsa Batista</title>
    <!--<link rel="stylesheet" href="~/lib/foundation/css/foundation.min.css" />-->
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header class="">

        
        <div class="columns large-3"></div>
    </header>
    <div class="grid-container">
        <main role="grid-x" class="padding-bottom-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container text-center">
            &copy; 2021 - WebApplication test Ralitsa Batista - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <!--<script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/foundation/js/foundation.min.js"></script>
    <script>
        $(document).foundation();
    </script>-->
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
